body{
    background-image: url(file:///Users/nehamarina/Documents/Interaction/Harmonic%20Collection/img/hcc.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'Londrina Solid', sans-serif;
    color:black;
}
h1{
    text-align: center;
    font-size: 40px;
    margin: 30px;
}
hr{
    border-bottom: 0;
    border-top: 4px dotted brown;
    width: 50%;
}
h2{
    font-family: 'Righteous', sans-serif;;
    font-size: 70px;
    margin: 50px;
    text-align: center;
    position: relative;
    color: brown;
}
a{
    color: brown;
    margin: 120px;
    font-size: 30px;
    position: relative;
    bottom: 200px;
}
a:hover{
    color: darkgoldenrod;
}
#img-1{
    position: relative;
    top: 0%;
    left: 10%;
    rotate: -5deg;
}
#img-2{
    position: absolute;
    top: 35%;
    left: 55%;
    rotate: 10deg;
}
#img-1:hover{
    rotate: 0deg;
}
#img-2:hover{
    rotate: 5deg;
}
.text-box{
    margin: 50px;
    border: 5px dotted darkgoldenrod;
    background: brown;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    width: 35%;
    color: beige;
    position: relative;
    left: 7%;
}
.text-box:hover{
    border:  5px dotted beige;
}
.review{
    position: relative;
    top: -300px;
    left: 50%;
    width: 500px;
    word-wrap: break-word;
    margin: 30px;
    border: 5px dotted darkgoldenrod;
    background: brown;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    width: 35%;
    color: beige;
}
.review:hover{
    border: 5px dotted beige;
}
#sticker-1{
    position: fixed;
    top: -20px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 0;
    left: 76.5%;
    z-index: 3;
}