body{
    background-image: url(file:///Users/nehamarina/Documents/Interaction/Harmonic%20Collection/img/hcc.png);
    font-family: 'Londrina Solid', sans-serif;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
h1{
    text-align: center;
}
h2{
    font-family: 'Urbanist', sans-serif;
    color: darkred;
    font-size: 70px;
    width: 420px;
    position: relative;
    left: 9%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: darkred;
    width: 50%;
}
#sticker-1{
    position: fixed;
    top: 0px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 5px;
    left: 76.5%;
    z-index: 3;
}
#img-1{
    position: relative;
    left: 10%;
    rotate: 5deg;
}
#img-2{
    position: relative;
    left: 20%;
    top: -100px;
    rotate: -8deg;
}
#img-1:hover{
    rotate: 0deg;
}
#img-2:hover{
    rotate: -3deg;
}
.text-box{
    margin: 50px;
    border: 7px dotted orange;
    background-color: darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: orange;
    position: relative;
    left: 7%;
}
.text-box:hover{
    border: 7px dotted palegoldenrod;
}
.review{
    margin: 50px;
    border: 7px dotted orange;
    background-color: darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: orange;
    position: relative;
    left: 45%;
    top: -375px;
}
.review:hover{
    border: 7px dotted palegoldenrod;
}
a{
    font-size: 30px;
    color: darkred;
    position: relative;
    left: 8%;
    top: -200px;
}
a:hover{
    color: orange;
}